<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ChiefMapper">
    <select id="getChiefList" resultType="com.ruoyi.pda.domain.VO.ChiefVO">
        <!-- 获取厨师列表，包含电话、角色名称、角色代码以及评分平均值 --> SELECT mu.phonenumber AS
        phone,mc.real_name as name,mc.chief_id as id,sd.dict_label AS role_name,mc.status as
        status,mc.role AS role, COALESCE(AVG(mcm.rating), 0) AS rating,mc.join_time as joinTime FROM
        master_chief mc LEFT JOIN sys_user mu ON mc.user_id = mu.user_id LEFT JOIN sys_dict_data sd
        ON mc.role = sd.dict_code LEFT JOIN master_order mo ON mo.chief_id = mc.chief_id LEFT JOIN
        master_comment mcm ON mo.comment_id = mcm.comment_id <where>
            <if test="name != null and name != ''"> AND mc.real_name LIKE CONCAT('%', #{name}, '%') </if>
        <if
                test="status != null and status != ''"> AND mc.status = #{status} </if>
        </where>
        GROUP BY mu.phonenumber, sd.dict_label,
        mc.role,mc.real_name,mc.status,mc.join_time,mc.chief_id</select>
    <!-- 查询总数和平均时间 -->
    <select id="getPerformanceSummary" resultType="com.ruoyi.pda.domain.VO.ChiefVO">
        SELECT
            COUNT(1) AS orderNum,
            AVG(TIMESTAMPDIFF(MINUTE, mo.create_time, mo.finish_time)) AS averageTime
        FROM master_order mo
        WHERE mo.chief_id = #{chiefId}
          AND mo.status = '2'
    </select>

    <!-- 查询近30天订单历史 -->
    <select id="getOrderHistory" resultType="com.ruoyi.pda.domain.VO.OrderHistory">
        SELECT
            DATE(mo.finish_time) AS date,
            COUNT(1) AS orderCount
        FROM master_order mo
        WHERE mo.chief_id = #{chiefId}
          AND mo.status = '2'
          AND mo.finish_time >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
        GROUP BY DATE(mo.finish_time)
    </select>
    <select id="getChiefAuthList" resultType="com.ruoyi.pda.domain.VO.ChiefAuthVO">
        select mca.auth_id as authId,mca.real_name as realName,mca.id_code as idCode,mca.request_time as requestTime,mca.identify_image as image,mca.status as status,mca.user_id as userId,mca.years as years,mca.cuisine as cuisine,mca.remark as remark,mca.reply as reply,su.phonenumber as phone,su.sex as sex from master_chief_auth mca left join sys_user su on mca.user_id = su.user_id <where>
        <if test="name !=null and name != ''">
            and real_name like CONCAT('%', #{name}, '%')
        </if>
        <if test="status != null and status != ''">
            and mca.status = #{status}
        </if>
    </where>
    order by mca.request_time ASC
    </select>
</mapper>
