<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.OrderMapper">
    <!-- 查询订单列表 -->
    <select id="getList" resultType="com.ruoyi.pda.domain.VO.OrderVO"> SELECT mo.order_id as
        orderId, mo.chief_id as chiefId, mo.user_id as userId, mo.price, mo.status, mo.create_time
        as createTime, mo.order_time as orderTime, mo.comment_id as commentId, su1.nick_name as
        chiefName, mc.real_name as chiefRealName, su1.avatar as chiefAvatar, su2.user_name as
        userName FROM master_order mo LEFT JOIN sys_user su1 ON mo.chief_id = su1.user_id LEFT JOIN
        master_chief mc ON mo.chief_id = mc.chief_id LEFT JOIN sys_user su2 ON mo.user_id =
        su2.user_id <where>
            <if test="orderId!=null and orderId !=''">mo.order_id LIKE CONCAT('%', #{orderId}, '%')</if>
            <if
                test="status!=null and status!=''">AND mo.status = #{status}</if>
            <if
                test="beginTime!=null">AND mo.create_time BETWEEN #{beginTime} AND #{endTime}</if>
        </where>
    </select>

    <!-- 查询订单详情 -->
    <select id="getDetail" resultType="com.ruoyi.pda.domain.VO.OrderVO"> SELECT mo.order_id as
        orderId, mo.chief_id as chiefId, mo.user_id as userId, mo.price, mo.status, mo.create_time
        as createTime, mo.order_time as orderTime, mo.comment_id as commentId, mo.remark,
        su1.nick_name as chiefName, mc.real_name as chiefRealName, su1.avatar as chiefAvatar,
        su2.user_name as userName FROM master_order mo LEFT JOIN sys_user su1 ON mo.chief_id =
        su1.user_id LEFT JOIN master_chief mc ON mo.chief_id = mc.chief_id LEFT JOIN sys_user su2 ON
        mo.user_id = su2.user_id WHERE mo.order_id = #{orderId} </select>

    <!-- 查询订单评论 -->
    <select id="getReview" resultType="com.ruoyi.pda.domain.Comment"> SELECT mc.rating as rating,
        mc.comment_id as commentId, mc.image_urls as imgUrls, mc.content as content, mc.create_time
        as createTime, su.avatar as userAvatar FROM master_order mo LEFT JOIN master_comment mc ON
        mo.comment_id = mc.comment_id LEFT JOIN sys_user su ON su.user_id = mo.user_id WHERE
        mo.order_id = #{orderId} </select>

    <!-- 插入订单记录，并返回自增主键 -->
    <insert id="insertOrder" parameterType="com.ruoyi.pda.domain.Order" useGeneratedKeys="true"
        keyProperty="orderId"> INSERT INTO master_order ( user_id, price, status, create_time,
        order_time, remark ) VALUES ( #{userId}, #{price}, #{status}, #{createTime}, #{orderTime},
        #{remark} ) </insert>

    <!-- 更新订单状态 -->
    <update id="updateOrderStatus" parameterType="com.ruoyi.pda.domain.Order"> UPDATE master_order
        SET status = #{status} <if test="chiefId != null"> , chief_id = #{chiefId} </if> WHERE
        order_id = #{orderId} </update>

    <!-- 取消订单 -->
    <update id="cancelOrder"> UPDATE master_order SET status = '-2' WHERE order_id = #{orderId} AND
        status IN ('-1', '0') </update>

    <!-- 取消超时未支付订单 -->
    <update id="cancelTimeoutOrders"> UPDATE master_order SET status = '-2'
        WHERE status = '-1' AND create_time &lt; DATE_SUB(NOW(), INTERVAL 5 MINUTE) </update>
</mapper>