<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pda.mapper.SocialCollectionMapper">

    <resultMap type="com.ruoyi.pda.domain.SocialCollection" id="SocialCollectionResult">
        <id property="collectionId" column="collection_id" />
        <result property="socialId" column="social_id" />
        <result property="userId" column="user_id" />
        <result property="folderName" column="folder_name" />
        <result property="createTime" column="create_time" />
        <association property="user" column="user_id"
            javaType="com.ruoyi.common.core.domain.entity.SysUser" resultMap="userResult" />
        <association property="social" column="social_id"
            javaType="com.ruoyi.pda.domain.Social" resultMap="socialResult" />
    </resultMap>

    <resultMap id="userResult" type="com.ruoyi.common.core.domain.entity.SysUser">
        <id property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="nickName" column="nick_name" />
        <result property="email" column="email" />
        <result property="phonenumber" column="phonenumber" />
        <result property="sex" column="sex" />
        <result property="avatar" column="avatar" />
        <result property="status" column="status" />
        <result property="loginDate" column="login_date" />
    </resultMap>

    <resultMap id="socialResult" type="com.ruoyi.pda.domain.Social">
        <id property="socialId" column="social_id" />
        <result property="userId" column="s_user_id" />
        <result property="content" column="content" />
        <result property="imageUrl" column="image_url" />
        <result property="imageHeight" column="image_height" />
        <result property="tags" column="tags" />
        <result property="status" column="s_status" />
        <result property="createTime" column="s_create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectSocialCollectionVo"> select c.collection_id, c.social_id, c.user_id,
        c.folder_name, c.create_time, u.user_name, u.nick_name, u.email, u.phonenumber, u.sex,
        u.avatar, u.status, u.login_date, s.user_id as s_user_id, s.content, s.image_url,
        s.image_height, s.tags, s.status as s_status, s.create_time as s_create_time, s.update_time
        from master_social_collection c left join sys_user u on c.user_id = u.user_id left join
        master_social s on c.social_id = s.social_id </sql>

    <select id="selectSocialCollectionList" parameterType="com.ruoyi.pda.domain.SocialCollection"
        resultMap="SocialCollectionResult">
        <include refid="selectSocialCollectionVo" />
        <where>
            <if test="socialId != null"> AND c.social_id = #{socialId} </if>
            <if
                test="userId != null"> AND c.user_id = #{userId} </if>
        </where> order by
        c.create_time desc </select>

    <select id="selectSocialCollectionBySocialId" parameterType="Long"
        resultMap="SocialCollectionResult">
        <include refid="selectSocialCollectionVo" /> where c.social_id = #{socialId} order by
        c.create_time desc </select>

    <select id="selectSocialCollectionByUserAndSocial" resultMap="SocialCollectionResult">
        <include refid="selectSocialCollectionVo" /> where c.social_id = #{socialId} and c.user_id =
        #{userId} limit 1 </select>

    <select id="countSocialCollection" parameterType="Long" resultType="Integer"> select count(1)
        from master_social_collection where social_id = #{socialId} </select>

    <insert id="insertSocialCollection" parameterType="com.ruoyi.pda.domain.SocialCollection"
        useGeneratedKeys="true" keyProperty="collectionId"> insert into master_social_collection ( <if
            test="collectionId != null">collection_id,</if>
            <if test="socialId != null">social_id,</if>
            <if
            test="userId != null">user_id,</if>
            <if test="folderName!=null and folderName!=''">
        folder_name,</if> create_time ) values ( <if
            test="collectionId != null">#{collectionId},</if>
            <if test="socialId != null">
        #{socialId},</if>
            <if test="userId != null">#{userId},</if>
        <if
            test="folderName!=null and folderName!=''">#{folderName},</if> sysdate() ) </insert>

    <delete id="deleteSocialCollectionById" parameterType="Long"> delete from
        master_social_collection where collection_id = #{collectionId} </delete>

    <delete id="deleteSocialCollectionByIds" parameterType="String"> delete from
        master_social_collection where collection_id in <foreach item="collectionId"
            collection="array" open="(" separator="," close=")"> #{collectionId} </foreach>
    </delete>

    <delete id="deleteSocialCollectionByUserAndSocial"> delete from master_social_collection where
        social_id = #{socialId} and user_id = #{userId} </delete>
</mapper> 